<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace：必须与对应的接口全类名一致
    id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.pas.edu.dao.ChildApplyDao">
    <!--缓存配置-->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    
    <resultMap id="childApplyMap" type="ChildRoster">
        <id column="child_id" property="childId"/>
		<result column="child_id_card" property="childIdCard"/>
		<result column="child_head_img" property="headImg"/>
		<result column="child_name" property="childName"/>
		<result column="child_sex" property="childSex"/>
		<result column="child_birthday" property="childBornTime"/>
		<result column="child_nation" property="nation"/>
		<result column="child_province_id" property="provinceId"/>
		<result column="child_province_name" property="provinceName"/>
		<result column="child_city_id" property="cityId"/>
		<result column="child_city_name" property="cityName"/>
		<result column="child_county_id" property="countyId"/>
		<result column="child_county_name" property="countyName"/>
		<result column="child_address" property="address"/>
		<result column="child_family_population" property="familyPopulation"/>
		<result column="child_itself_reason" property="itselfReason"/>
		<result column="child_reason" property="familyReason"/>
		<result column="guardian_reason" property="guaReason"/>
		<result column="guardian_id_card" property="guaIdCard"/>
		<result column="guardian_phone" property="guaTelNum"/>
		<result column="guardian_name" property="guaName"/>
		<result column="guardian_sex" property="guaSex"/>
		<result column="guardian_birthday" property="guaBornTime"/>
		<result column="guardian_child_rela" property="guaChildRela"/>
		<result column="guardian_hapening" property="guaHappening"/>
		<result column="plight_category" property="dilemmaCategory"/>
		<result column="other_category" property="otherCategory"/>
		<result column="welfare" property="welfareHappening"/>
		<result column="welfare_desc" property="otherWelfare"/>
		<result column="basic_life" property="basicLifeHappening"/>
		<result column="basic_life_desc" property="otherBasicLife"/>
		<result column="education_happening" property="educationHappening"/>
		<result column="education_happening_desc" property="otherEducation"/>
		<result column="medical_happening" property="medicalHappening"/>
		<result column="medical_happening_desc" property="otherMedical"/>
		<result column="village_status" property="villageStatus"/>
		<result column="town_status" property="townStatus"/>
		<result column="county_status" property="countyStatus"/>
		<result column="city_status" property="cityStatus"/>
		<result column="operate_id" property="operateId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="description" property="description"/>
		<result column="town_id" property="townId"/>
		<result column="town_name" property="townName"/>
		<result column="village_id" property="villageId"/>
		<result column="village_name" property="villageName"/>
    </resultMap>
    
    <!-- 数据采集添加 useGeneratedKeys="true" keyColumn="child_id"  -->
    <insert id="insertChildApply" useGeneratedKeys="true" keyProperty="childId" parameterType="ChildRoster">
    	insert into kjet_child_apply(
    			child_id_card, 
    			child_head_img, 
    			child_name, 
    			child_sex, 
    			child_birthday, 
    			child_nation, 
    			child_address, 
    			child_family_population,
    			child_itself_reason, 
    			child_reason, 
    			guardian_reason, 
    			guardian_id_card, 
    			guardian_phone, 
    			guardian_name,
    			guardian_sex, 
    			guardian_birthday, 
    			guardian_child_rela, 
    			guardian_hapening, 
    			plight_category, 
    			other_category,
    			welfare, 
    			welfare_desc, 
    			basic_life, 
    			basic_life_desc, 
    			education_happening, 
    			education_happening_desc,
    			medical_happening, 
    			medical_happening_desc, 
    			village_status, 
    			town_status,
    			county_status, 
    			city_status, 
    			operate_id, 
    			create_time, 
    			update_time, 
    			child_province_id, 
    			child_province_name,
    			child_city_id, 
    			child_city_name, 
    			child_county_id, 
    			child_county_name,
    			town_id, 
    			town_name, 
    			village_id, 
    			village_name,
    			guardian_hapening_desc
    	) values(
    			#{ childIdCard }, 
    			#{ headImg }, 
    			#{ childName }, 
    			#{ childSex },
		    	#{ childBornTime }, 
		    	#{ nation }, 
		    	#{ address }, 
		    	#{ familyPopulation },
		    	#{ itselfReason }, 
		    	#{ familyReason }, 
		    	#{ guaReason }, 
		    	#{ guaIdCard }, 
		    	#{ guaTelNum }, 
		    	#{ guaName },
		    	#{ guaSex }, 
		    	#{ guaBornTime }, 
		    	#{ guaChildRela }, 
		    	#{ guaHappening }, 
		    	#{ dilemmaCategory }, 
		    	#{ otherDilCatDesc },
		    	#{ welfareHappening }, 
		    	#{ otherWelfare }, 
		    	#{ basicLifeHappening }, 
		    	#{ otherBasicLife }, 
		    	#{ educationHappening }, 
		    	#{ otherEducation },
		    	#{ medicalHappening }, 
		    	#{ otherMedical }, 
		    	#{ villageStatus }, 
		    	#{ townStatus },
		    	#{ countyStatus }, 
		    	#{ cityStatus }, 
		    	#{ operateId }, 
		    	#{ createTime }, 
		    	#{ updateTime }, 
		    	#{ provinceId }, 
		    	#{ provinceName },
		    	#{ cityId }, 
		    	#{ cityName }, 
		    	#{ countyId }, 
		    	#{ countyName }, 
		    	#{ townId }, 
		    	#{ townName }, 
		    	#{ villageId }, 
		    	#{ villageName },
		    	#{ guaHappeningDesc }
		)
    </insert> 
    
    <!-- 数据采集更新 -->
    <update id="updateChildApply" parameterType="ChildRoster">
    	update kjet_child_apply set
    	child_id_card = #{ childIdCard },
    	child_head_img = #{ headImg },
    	child_name = #{ childName },
    	child_sex = #{ childSex },
    	child_birthday = #{ childBornTime },
    	child_nation = #{ nation },
    	child_address = #{ address },
    	child_family_population = #{ familyPopulation },
    	child_itself_reason = #{ itselfReason },
    	guardian_reason = #{ guaReason },
    	child_reason = #{ familyReason },
    	guardian_id_card = #{ guaIdCard },
    	guardian_phone = #{ guaTelNum },
    	guardian_name = #{ guaName },
    	guardian_sex = #{ guaSex },
    	guardian_birthday = #{ guaBornTime },
    	guardian_child_rela = #{ guaChildRela },
    	guardian_hapening = #{ guaHappening },
    	plight_category = #{ dilemmaCategory },
    	other_category = #{ otherDilCatDesc },
    	welfare = #{ welfareHappening },
    	welfare_desc = #{ otherWelfare },
    	basic_life = #{ basicLifeHappening },
    	basic_life_desc = #{ otherBasicLife },
    	education_happening = #{ educationHappening },
    	education_happening_desc = #{ otherEducation },
    	medical_happening = #{ medicalHappening },
    	medical_happening_desc = #{ otherMedical },
    	update_time = #{ updateTime }, 
    	village_status = #{ villageStatus }, 
		town_status = #{ townStatus },
		county_status = #{ countyStatus },  
		city_status = #{ cityStatus },
		guardian_hapening_desc = #{ guaHappeningDesc }
    	where child_id = #{ childId }
    </update>
    
    <!-- 数据采集查询-->
    <sql id="selectChild">
		SELECT child.child_id,
			child.child_id_card,
			child.child_head_img,
			child.child_name,
			child.child_sex,
			child.child_birthday,
			child.child_nation,
			child.child_province_id,
			child.child_province_name,
			child.child_city_id,
			child.child_city_name,
			child.child_county_id,
			child.child_county_name,
			child.child_address,
			child.child_family_population,
			child.child_itself_reason,
			child.child_reason,
			child.guardian_reason,
			child.guardian_id_card,
			child.guardian_phone,
			child.guardian_name,
			child.guardian_sex,
			child.guardian_birthday,
			child.guardian_child_rela,
			child.guardian_hapening,
			child.plight_category,
			child.other_category,
			child.welfare,
			child.welfare_desc,
			child.basic_life,
			child.basic_life_desc,
			child.education_happening,
			child.education_happening_desc,
			child.medical_happening,
			child.medical_happening_desc,
			child.village_status,
			child.town_status,
			child.county_status,
			child.city_status,
			child.operate_id,
			child.create_time,
			child.update_time,
			child.description,
			child.town_id,
			child.town_name,
			child.village_id,
			child.village_name,
			child.isdel
		FROM kjet_child_apply child
    </sql>
    
     <sql id="selectChild2">
        SELECT
            child.child_id       childId,
            child.child_name     guaName,
            child.guardian_phone guaTelNum,
            child.village_status      villageStatus,
            child.town_status     townStatus,
            child.county_status      countyStatus,
            child.city_status      cityStatus,
            child.child_sex        childSex,
            child.child_birthday    childBornTime,
            child.child_address    address
        FROM kjet_child_apply child
    </sql>
    
    <!-- 根据孩子身份证号码查询孩子 -->
    <select id="getRosterByChildIdCard" parameterType="java.lang.String" resultType="java.util.Map">
    	select * from kjet_child_apply where child_id_card = #{ idCard } and isdel = 1 
    </select>
    
    <!-- 根据id查询数据采集信息 --> 
    <select id="getRosterInfoByChildId" resultMap="childApplyMap">
        select * from kjet_child_apply
        WHERE child_id = #{ childId }
    </select>
    
    <!-- 数据采集列表 - 村 -->
    <select id="getChildApplyLsts" resultType="java.util.Map">
        <include refid="selectChild2"/>
        WHERE child.operate_id = #{ uid } and child.isdel = 1
    </select>
    
     <!-- 数据采集列表 - 根据机构ID获取花名册 -->
    <select id="getChildApplyLstsByOrgid" resultMap="childApplyMap">
        <include refid="selectChild"/>
        WHERE child.village_id = #{ villageId } and child.village_status != 1 and child.isdel = 1
		<!-- 市级查看 town_status,county_status,city_status -->
		<if test="loginOrgLevel == 1">
			and child.city_status!=1
		</if>
		<!-- 县级查看 town_status,county_status,city_status -->
		<if test="loginOrgLevel == 2">
			and child.county_status!=1
		</if>
		<!-- 镇级查看 town_status,county_status,city_status -->
		<if test="loginOrgLevel == 3">
			and child.town_status!=1
		</if>
    </select>

    
    <!-- 采集数据删除 -->
    <update id="delRoster" parameterType="int">
    	update kjet_child_apply set isdel = 2 where child_id = #{ childId } and operate_id = #{ operateId }
    </update>


    <select id="getChildByOrg" resultMap="childApplyMap">
        select * from kjet_child_apply
        WHERE isdel = 1 and village_status != 1
        <if test="currLevel == 1"> <!-- 市级查看 -->
        	<if test="orgLevel==1">
	            and child_city_id=#{orgId}
	        </if>
	        <if test="orgLevel==2"> 
	            and child_county_id=#{orgId}
	        </if>
	        <if test="orgLevel==3"> 
	            and town_id=#{orgId}
	        </if>
	        <if test="orgLevel==4"> 
	            and village_id=#{orgId}
	        </if>
	        and city_status != 1
        </if>
        <if test="currLevel == 2"> <!-- 县级查看 -->
       		<if test="orgLevel==1">
            	and child_city_id=#{orgId}
	        </if>
	        <if test="orgLevel==2"> 
	            and child_county_id=#{orgId}
	        </if>
	        <if test="orgLevel==3"> 
	            and town_id=#{orgId}
	        </if>
	        <if test="orgLevel==4"> 
	            and village_id=#{orgId}
	        </if>
	        and county_status != 1
        </if>
        <if test="currLevel == 3"> <!-- 镇级查看 -->
          	<if test="orgLevel==1">
            	and child_city_id=#{orgId}
	        </if>
	        <if test="orgLevel==2"> 
	            and child_county_id=#{orgId}
	        </if>
	        <if test="orgLevel==3"> 
	            and town_id=#{orgId}
	        </if>
	        <if test="orgLevel==4"> 
	            and village_id=#{orgId}
	        </if>
	        and town_status != 1
        </if>
    </select>

</mapper>