<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace：必须与对应的接口全类名一致
    id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.pas.edu.dao.UserDao">
    <!--缓存配置-->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <resultMap id="UserResult" type="User">
        <id column="user_id" property="id"/>
        <result column="org_id" property="orgId"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="valid" property="valid"/>
        <result column="head_img" property="headImg"/>
        <result column="description" property="desc"/>
        <result column="orgName" property="orgName"/>
        <result column="orgParentId" property="orgParentId"/>
        <result column="orgCode" property="orgCode"/>
        <result column="orgLevel" property="orgLevel"/>
    </resultMap>
    <!--查询用户信息，包含所属机构信息-->
    <sql id="getUserWithOrgInfo">
        SELECT
            users.*,
            orgs.org_parent_id orgParentId,
            orgs.org_name      orgName,
            orgs.org_code      orgCode,
            orgs.org_level     orgLevel
        FROM kjet_system_user users
            LEFT JOIN kjet_organization orgs
                ON users.org_id = orgs.org_id
    </sql>
    <sql id="getUser">
        SELECT users.*
        FROM kjet_system_user users
    </sql>
    <select id="getUserByPhone" resultMap="UserResult">
        <include refid="getUserWithOrgInfo"/>
        WHERE users.phone = #{phone}
    </select>
    <select id="getUserAll" resultMap="UserResult">
        <include refid="getUserWithOrgInfo"/>
    </select>
    <select id="getUserById" resultMap="UserResult">
        <include refid="getUserWithOrgInfo"/>
        WHERE users.user_id = #{userId}
    </select>

    <update id="updatePwd">
        UPDATE kjet_system_user
        SET password = #{password}
        WHERE user_id = #{userId}
    </update>
</mapper>