<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace：必须与对应的接口全类名一致
    id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.pas.edu.dao.VisitRecordDao">
    <!--缓存配置-->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <resultMap id="VisitRecordResult" type="VisitRecord">
        <id column="visit_id" property="visitId"/>
        <result column="child_id" property="childId"/>
        <result column="visit_date" property="visitDate"/>
        <result column="visit_org_level" property="visitOrgLevel"/>
        <result column="visit_org_id" property="visitOrgId"/>
        <result column="visit_result" property="visitResult"/>
        <result column="remark" property="remark"/>
        <result column="operate_id" property="operateId"/>
        <result column="operator_name" property="operatorName"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="selectVisitRecord">
        SELECT
            visitRecord.visit_id,
            visitRecord.child_id,
            visitRecord.visit_date,
            visitRecord.visit_org_level,
            visitRecord.visit_org_id,
            visitRecord.visit_result,
            visitRecord.remark,
            visitRecord.operate_id,
            visitRecord.operator_name,
            visitRecord.create_time
        FROM kjet_visit_record visitRecord
    </sql>

    <insert id="createVisitRecord" useGeneratedKeys="true" keyColumn="visit_id" parameterType="VisitRecord">
        insert into kjet_visit_record(
            child_id,
            visit_date,
            visit_org_level,
            visit_org_id,
            visit_result,
            remark,
            operate_id,
            operator_name,
            create_time
        )
        values(
            #{ childId },
            #{ visitDate },
            #{ visitOrgLevel },
            #{ visitOrgId },
            #{ visitResult },
            #{ remark },
            #{ operateId },
            #{ operatorName },
            #{ createTime }
        )
    </insert>

    <update id="updateVisitRecord" parameterType="VisitRecord">
        UPDATE kjet_visit_record
        SET
            child_id = #{childId },
            visit_date = #{visitDate },
            visit_org_level = #{visitOrgLevel },
            visit_org_id = #{visitOrgId },
            visit_result = #{visitResult },
            remark = #{remark },
            operate_id = #{operateId },
            operator_name = #{operatorName },
            create_time = #{createTime }
        WHERE visit_id = #{visitId};
    </update>

    <select id="getVisitRecord" resultMap="VisitRecordResult">
        <include refid="selectVisitRecord"/>
        WHERE visitRecord.visit_id=#{visitId}
    </select>
</mapper>